/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
fieldset,img { 
	border:0;
}
ol,ul,li {
	list-style:none;
}

body{	
	margin: 0;
	padding: 0;
}
.control-group textarea, 
.control-group input[type="text"], 
.control-group .uneditable-input{
	width:255px;
}
#vendor_title textarea:focus,
#vendor_title input[type="text"]:focus, 
#vendor_title input[type="password"]:focus, 
#vendor_title .uneditable-input:focus,
.control-group textarea:focus, 
.control-group input[type="text"]:focus, 
.control-group .uneditable-input {
	border-color: #3498DB;

}
input{
	outline: none;
	color:white;	
	-webkit-transition: border .25s linear, color .25s linear;
	-moz-transition: border .25s linear, color .25s linear;
	-o-transition: border .25s linear, color .25s linear;
	transition: border .25s linear, color .25s linear;
	width:255px;
}
.login {
	width: 323px;
	margin: 90px auto;
}
#button input, .link a, #button_small input {
	height: 30px;
	margin-left: 5px;
	width: 268px;
	background-color: #3498DB;
	font-size: 13px;
	border: none;
	text-decoration: none;
	text-shadow: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}
thead{
	background-color: #3498DB;
}

#button input:active, .link a:active, #button_small input:active {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#button input:hover, .link a:hover, #button_small input:hover {
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
	background-color: #32A3DA;
	cursor:pointer;
	color: white;
}
table {
  margin-top: 50px;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #edeff1;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #d9dadc;
}
.todo li.todo-done{
	color: #3498DB;
}
.span3 {
}
.span9 {
	width: 70%;
	position: absolute;
	margin-left: 230px;
	padding-top: 20px;
}
.navigation{
	background-color: #edeff1;
	position: fixed;
	width: 200px;
	height: 100%;
}
.sidebar li a{
	color: #34495e;
	line-height: 50px;
	text-decoration: none;
	padding-left: 20px;
	display: block;
}
.sidebar li a:hover {
	color: #2980B9;
	background-color: #d9dadc;
}
.active{
	background-color: #3498DB;
}
#notice{
	color: #C0392B;
	padding: 0 6px 15px 6px; 
}

.form { 
	padding: 30px 0;
	line-height: 40px;
}
.link a {
	line-height: 40px;
	color:white;
    height: 30px;
    padding:7px 30px;
    margin: 10px -1px;
}
select,
input[type="file"] {
  height: 30px;
  margin: 10px 4px;
  line-height: 30px;
  outline: none;
  color:#34495e;
  box-shadow: none;
  font-size: 13px;
  border: none;
}
select {
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
#button_small input {
	width:150px;
 	}
.update{
	margin-left: -4px;
}