<div class="span9">
 <div class="form"> 
 	<p id="notice"><%= notice %></p>
<p>
  <b>Название:</b>
  <%= @vendor.title %>
</p>
<div class="link"><%= link_to 'Редактировать', edit_vendor_path(@vendor) %>
</div></div></div>