#account
  #users{ data: {users: @user_account.to_json} }
  = text_field_tag :user_account, nil, placeholder: 'Лицевой счёт'
.box
  - @field_title.each do |d|
    = d
    = check_box_tag "field_title[]",  d