<% @report.each do |r| %>
  <% date = DateTime.parse(r["date"]) %>
  <tr><td><%= r["user_account"] %></td>
      <td><%= r["address"] %></td>
      <td><%= r["amount"] %></td>
      <td><%= date.strftime("%Y-%m-%d") %></td>
 </tr>
<% end %>